3rdparty
Debug
Release
*.sln
*.suo
*.doc
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.rc
*.user
FD
Results
*.txt
*.props
*.CompareBoundingBox
*.freak
*.seq1to9_CompareGroundtruth
transMat
video.pass
lib
socheat.cpp
tanumain.cpp
main4.cpp
main100.cpp
mainseq1.cpp
mainseq1to9_FindBestFrame.cpp
mymain.cpp
mymain2.cpp
mymain3.cpp
main5.cpp
resource.h